@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --sunny: #FFC900;
  --java: #2cccbc;
  --orapink: #FF7051;
  --yellow: #FFF172;
  --daphne: #FD9FFD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-archivo: var(--font-heading);
  --font-ibm: var(--font-body);
}

@theme {
  --color-sunny: #FFC900;
  --color-java: #2cccbc;
  --color-orapink: #FF7051;
  --color-yellow: #FFF172;
  --color-daphne: #FD9FFD;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-stroke {
  -webkit-text-stroke: 1px #000000;
}